body{padding-top:50px;font-family:"Microsoft Yahei"}body h3{color:#00f}
.fornet-page{padding:20px 0 70px 0}
.fornet-footer{position:fixed;bottom:0;width:100%;background-color:#808080}.fornet-footer .footer-btn{float:left;width:33.3%;height:50px;border:1px solid #000}
#new-order .geo-link{font-size:16px}
#new-order .lead-branches{width:100%;overflow-x:scroll;height:150px;margin-bottom:20px}
#new-order ul.branches{padding-left:0;list-style:none;width:9999px}#new-order ul.branches li.branch{float:left;width:130px;height:125px;padding:10px;font-size:10px;line-height:1.4;text-align:center;border:1px solid #fff;background-color:#f9f9f9}#new-order ul.branches li.branch .p-icon{margin-top:5px;margin-bottom:10px;font-size:30px}
#new-order ul.branches li.branch .branch-title,#new-order ul.branches li.branch .branch-info{display:block;text-align:center;word-wrap:break-word}
#new-order ul.branches li.branch .branch-title{color:#00f;font-size:16px;padding-bottom:5px}
