@primary-color:blue;

body {
  font-family: "Microsoft Yahei";

  h3{
  	color:@primary-color;
  }
}
.fornet-page{
	padding: 0 0 20px 0;

}
.fornet-footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #ddd;
	background-color: #fff;
	.footer-btn{
		float: left;
		width: 33.3%;
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: -1px;
		text-align: center;
		&:nth-of-type(2){
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
		}
		.badge{
			// background-color: red;
		}
	}
}
#new-order{
	.geo-link{
		font-size: 16px;
	}
	.lead-branches{
		width: 100%;
		overflow-x: scroll;
		height: 125px;
		margin-bottom: 20px;
	}
	.lead-kinds{
		width: 100%;
		height: 80px;
		margin-bottom: 20px;
		.kind{
			float: left;
			width: 25%;
			height: 40px;
			padding: 10px;
			line-height: 1.4;
			text-align: center;
			.kind-check{
				text-align: left;
				width: 60px;
				margin: 0 auto;
			}
		}
	}

	ul.branches{
		padding-left: 0;
		list-style: none;
		width: 9999px;

		li.branch{
			float: left;
			width: 130px;
			height: 125px;
			padding: 10px;
			font-size: 10px;
			line-height: 1.4;
			text-align: center;
			border: 1px solid #fff;
			background-color: #f9f9f9;
			.p-icon{
				margin-top: 5px;
				margin-bottom: 10px;
				font-size: 20px;
			}
			.branch-title,
			.branch-info{
				display: block;
				text-align: center;
				word-wrap: break-word;
			}
			.branch-title{
				color: @primary-color;
				font-size: 14px;
				padding-bottom: 5px;
			}
		}
	}

}