@primary-color:#009395;
@y-color:#099;



body {
  font-family: "Microsoft Yahei";
  h3{
  	margin-top: 0;
  }
}

.navbar{
	border-color: @primary-color;
	background: @primary-color;
	.container{
		background: url("../img/logo.png") 18px -4px no-repeat;
		.navbar-header{
			height: 50px;
		}
	}
}

.fornet-page{
	padding: 0 0 80px 0;

}
.fornet-footer{
	@border-color:#999;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid @border-color;
	background-color: #fff;
	.footer-btn{
		float: left;
		width: 33.3%;
		position: relative;
		display: block;
		font-weight: bold;
		padding: 10px 10px;
		margin-bottom: -1px;
		text-align: center;
		&:nth-of-type(2){
			border-left: 1px solid @border-color;
			border-right: 1px solid @border-color;
		}
		.badge{
			background-color: #c00;
		}
		.footer-a{
			color: black;
		}
	}
}
#new-order{
	.geo-link{
		font-size: 16px;
	}
	.lead-branches{
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		height: 135px;
		margin-bottom: 20px;
	}
	.lead-kinds{
		width: 100%;
		height: 80px;
		margin-bottom: 20px;
		.kind{
			float: left;
			width: 25%;
			height: 40px;
			padding: 10px;
			line-height: 1.4;
			text-align: center;
			.kind-check{
				text-align: left;
				width: 60px;
				margin: 0 auto;
			}
		}
	}
	.row{
		margin-bottom: 20px;
		.label-inrow{
			padding-left: 20px;
			width: 100%;
		}
	}

	ul.branches{
		padding-left: 0;
		list-style: none;
		width: 9999px;
		border-top: solid 1px #9cc;
		border-bottom: solid 1px #9cc;
		
		a.branch-a{
			color: black;
		}

		li.branch{
			float: left;
			width: 130px;
			height: 125px;
			padding: 10px;
			font-size: 10px;
			line-height: 1.4;
			text-align: center;
			border-left: 1px solid #fff;
			border-right: 1px solid #fff;
			background-color: #f9f9f9;
			&.active{
				color: @primary-color;
				background-color: #d1e3e3;
			}
			.p-icon{
				margin-top: 5px;
				margin-bottom: 10px;
				font-size: 20px;
			}
			.branch-title,
			.branch-info{
				display: block;
				text-align: center;
				word-wrap: break-word;
			}
			.branch-title{
				color: @primary-color;
				font-size: 14px;
				padding-bottom: 5px;
			}
		}
	}
}

#modify-address{
	h4.panel-title{
		line-height: 1.4;
	}
	.panel-address{
		width: 90%;
		float: left;
		display: inline-block;
	}
	.panel-address-edit{
		width: 10%;
		float: left;
		text-align: right;
		display: inline-block;
	}
	.mr-20{
		margin-right: 10px;
	}
}

// for retina use
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

.navbar .container{
	background: url("../img/logo@2x.png") 18px -4px no-repeat;
	background-size: 204px 50px;
}

}